.recoveryform {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  .recoveryTitles {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
  }
  
  .recoverySubTitles {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8B8B8B;
    font-size: 14px
    ;
  }
    