.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.titleContainer {
  color: white;
}

.container {
  width: 100%;
  height: fit-content;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

canvas {
  width: 50% !important;
  height: auto !important;
}

.search{
    
}
