* {
  margin: 0;
}

.homeContent {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "mainheader navbar"
    "sidebar content";
  height: 100vh;
}

body {
  background-image: url("../../assets/blob.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(243, 244, 248);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
}


h3 {
  font-weight: 400;
}
