.loginButton {
  margin-top: 20px;
  display: flex;
  padding: 5px;
  height: 30px;
  width: 300px;
  border-radius: 4px;
  background-color: #060047;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

}
  
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
  