.recoveryLink {
    font-size: 13px;
    text-decoration-line: none;
    margin-left: 13em;
    color: black;
}

.recoveryLink:hover {
    text-decoration: underline;
}

.returnLoginLink {
    font-size: 13px;
    text-decoration-line: none;
    margin-top: 2rem;
    margin-left: 15em;
    color: black;
}

.returnLoginLink:hover {
    text-decoration: underline;
}

.notFoundLink {
    font-size: 13px;
    text-decoration-line: none;
    color: black;
}

.notFoundLink:hover {
    text-decoration: underline;
}