.mainHeader{
    grid-area: 'mainheader';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

.logoVisiona{
    width: 26px;
    height: auto;
}
