.button {
  color: white;
  background-color: #060047;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
  padding: 9px;
}

.icon {
  margin: 0px 13px;
  margin-right: 0px;
}
