.content {
  grid-area: "content";
  margin: 0 48px;
}

.container {
  background: white;
  width: 100%;
  min-height: 470px;
  height: fit-content;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(105, 96, 215, 0.2);
  margin-top: 60px;
}
