.inputText {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 300px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  }
  